MyMudBlazorApp/obj/Debug
MyMudBlazorApp/bin/
.idea
MyMudBlazorApp/obj/project.packagespec.json
MyMudBlazorApp/obj/rider.project.restore.info
MyMudBlazorApp/obj/
BackendAPIService/obj
DatabaseHandler/bin/
DatabaseHandler/obj/
BackendAPIService/bin/
C-GroupProject.sln.DotSettings.user
.vs/
*.vsidx
*.jfm
*.suo
*.user
*.userosscache
*.sln.docstates