@inherits LayoutComponentBase
@using MudBlazor
@inject NavigationManager Navigation

<MudThemeProvider />
<MudPopoverProvider />

<div class="page">
    <main>
        <style>
            body, html {
                margin: 0;
                padding: 0;
                overflow-x: hidden;
            }

            .app-bar {
                width: 100vw;
                top: 0;
                left: 0;
            }

            .content {
                padding-top: 64px; /* Adjust based on the height of your app bar */
            }
        </style>

        @if (!ShouldHideAppBar())
        {
            <MudAppBar Class="app-bar" Color="Color.Primary" Fixed="true">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                <MudSpacer />
                <MudAvatar Color="Color.Secondary" Size="Size.Medium">RJ</MudAvatar>
            </MudAppBar>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool ShouldHideAppBar()
    {
        var currentPath = new Uri(Navigation.Uri).AbsolutePath;
        
        // Define routes where AppBar should be hidden
        var hiddenRoutes = new List<string>
        {
            "/login"
        };

        return hiddenRoutes.Any(route => currentPath.EndsWith(route, StringComparison.OrdinalIgnoreCase));
    }
}
