@page "/endpoints"
@using MudBlazor
@inject IJSRuntime JSRuntime

<MudMainContent>
    <div class="mx-auto px-8">
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-20 px-4">
            <div class="flex flex-col items-center">
                <div class="w-full">
                    <div class="d-flex justify-space-between align-center mb-10">
                        <MudText Typo="Typo.h3">Endpoints</MudText>
                    </div>
                    <div id="swagger-ui"></div>
                </div>
            </div>
        </MudContainer>
    </div>
</MudMainContent>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadSwaggerUI", "http://localhost:5000/api/swagger");
        }
    }
}